node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.env
.env.*

coverage
.nyc_output
dist
build
.cache
.turbo

.git
.gitignore
.dockerignore
.vscode
.idea
.DS_Store

*.log
*.pid
*.pid.lock
*.tmp
*.temp
