WEB_HTTP_PORT=8020

NEXT_PUBLIC_RECAPTCHA_SITE_KEY=your_google_recaptcha_site_key
NEXT_PUBLIC_SITE_URL=https://stacklevel.group
BOT_SENDER_URL=http://bot-sender:4000/internal/send
RECAPTCHA_SECRET_KEY=your_google_recaptcha_secret_key

TELEGRAM_BOT_TOKEN=123456789:your_bot_token
RECIPIENT_USER_IDS=123456789,987654321

INTERNAL_HMAC_SECRET=replace-with-strong-random-secret
